body {
    background-color: black;
}


#page-flip {
    position: absolute;
    padding: 0px;
    width: 800px;
    height: 800px;
    overflow: hidden;
}

#r1 {
    position: absolute;
    z-index: 2;
    transform-origin: 1315px 500px;
    transform: translate(-1030px, -500px) rotate(-45deg);
    transition-property: transform, transform-origin;
    transition-duration: 1s;
}

#p1 {
    width: 1350px;
    height: 1388px;
    overflow: hidden;
    box-shadow: 0 0 11px rgba(0, 0, 0, .5);
}

#p1 > div {
    transform-origin: 300px 0;
    transform: translate(1030px, 500px) rotate(45deg);
    transition-property: transform, transform-origin;
    transition-duration: 1s;
    width: 400px;
    height: 776px;
}


#p2 > div {
    width: 400px;
    height: 776px;
    box-shadow: 0 0 11px rgba(0, 0, 0, .5);
    position: absolute;
    z-index: 1;
    background-size: 400px;
}

/* This is the start of inside page rotate */
#r3 {
    transform-origin: 1315px 500px;
    transform: translate(-1030px, -500px) rotate(-45deg);
    transition-property: transform, transform-origin;
    transition-duration: 1s;
    position: absolute;
    z-index: 2;
}


#p3 {
    width: 1350px;
    height: 1388px;
    overflow: hidden;
}

#p3 > div {
    transform-origin: 0 0;
    transform: translate(1305px, 585px) rotate(-45deg);
    transition-property: transform, transform-origin;
    transition-duration: 1s;
    box-shadow: 0 0 11px rgba(0, 0, 0, .5);
    width: 1570px;
    height: 766px;
    background-color: gainsboro;
    overflow: hidden;
}
/* This is the end of inside page rotate */


#page-flip:hover #r1 {
    transform-origin: 1570px 500px;
    transform: translate(-1350px, -500px) rotate(0deg);
}

#page-flip:hover #p1 > div {
    transform-origin: 285px 50;
    transform: translate(1330px, 500px) rotate(0deg);
}

#page-flip:hover #r3 {
    transform-origin: 1570px 500px;
    transform: translate(-1350px, -500px) rotate(0deg);
}

#page-flip:hover #p3 > div {
    transform-origin: 30 0;
    transform: translate(1000px, 500px) rotate(0deg);
}






@media only screen and (max-width: 600px) {
    .heroImage {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        top: 0;
        animation: coverAnimMobile 3s ease-in-out 0s 1 normal forwards;
    }
}
@keyframes coverAnimMobile {
	0% {
		opacity: 0;
		transform: translateX(calc(100% - 60px)) scale(2);
	}

	100% {
		opacity: 1;
		transform: translateX(calc(100vw - 115vw)) scale(0.7);
	}
}
